a {
  color: #000;
  text-decoration: none;
}

.body {
  font-family: 'DM Sans', sans-serif;
}

.section {
  height: auto;
}

.section.footer {
  padding-bottom: 0px;
  background-color: transparent;
  color: #000;
  font-weight: 500;
}

.section.contact {
  background-color: #000;
  color: #fff;
}

.section.imprint {
  margin-top: 200px;
  margin-bottom: 0px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 1420px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.branding {
  margin-right: 24px;
}

.branding-image {
  width: 220px;
  max-width: none;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlink {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.partnerblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partnerlogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator {
  display: block;
  width: 2px;
  height: 16px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #000;
  color: #000;
}

.logo-image-ds {
  width: 80px;
  max-width: none;
}

.partnertext {
  margin-right: 12px;
  font-size: 12px;
  font-weight: 500;
}

.logo-image-byte {
  width: 40px;
  max-width: none;
}

.navblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1420px;
  min-height: auto;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.linkblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sectionhero {
  height: 100vh;
}

.block-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.block-grid.contactus {
  margin-top: 90px;
  margin-bottom: 100px;
}

.headline-fragen {
  max-width: 70%;
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 130%;
  font-weight: 500;
}

.contactmail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mail-icon {
  margin-right: 12px;
  padding-right: 0px;
}

.mail-address {
  font-size: 22px;
  font-weight: 500;
}

.contacttext {
  max-width: 80%;
  font-size: 16px;
  line-height: 150%;
}

.contactheadline {
  font-size: 18px;
}

.footerlinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link-block {
  margin-right: 40px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.footertext {
  display: block;
  width: auto;
  margin-right: 0px;
  margin-bottom: 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
}

.footerdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  margin-bottom: 42px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerlogo {
  display: block;
  margin-right: 50px;
  padding-bottom: 0px;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.headline-1 {
  display: block;
  margin: 0px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-block {
  max-width: 80%;
  margin-top: 64px;
  margin-bottom: 100px;
}

.headline-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}

.paragraph {
  margin-bottom: 0px;
  line-height: 150%;
}

.textlinks {
  color: #1479ff;
}

.content {
  max-width: 86%;
  min-width: auto;
  margin-bottom: 72px;
}

.content.datenschutzhinweis-bewerber {
  display: none;
}

.content.datenschutzhinweis-veranstaltungen {
  display: none;
}

.subcontent {
  margin-bottom: 20px;
}

.headline-3 {
  margin-top: 40px;
  font-size: 22px;
}

.list {
  margin-top: 10px;
  margin-bottom: 16px;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 0px;
  background-color: #000;
}

.hero-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 0.75fr;
  grid-template-columns: 0.5fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-text {
  max-width: 80%;
}

.hero-paragraph {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 150%;
}

.hero-headline {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #000;
  font-size: 32px;
  line-height: 130%;
}

.hero-button {
  border-radius: 8px;
  background-color: #000;
  font-size: 14px;
  font-weight: 400;
}

.div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 164px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.home-header-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.home-paragraph {
  max-width: 60%;
  margin: 58px auto 0px;
  font-size: 16px;
  line-height: 150%;
}

.home-paragraph.follow {
  margin-top: 0px;
}

.video-block {
  max-width: 80%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.header-1 {
  display: block;
  margin: 0px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.illustration {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.illustration-picture {
  width: 110%;
  max-width: none;
}

.section-about {
  height: 100%;
  margin-bottom: 365px;
}

.mission {
  font-size: 20px;
  text-align: left;
}

.quote {
  max-width: 60%;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .navmenu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .navlink {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    font-size: 14px;
  }

  .partnerblock {
    display: none;
  }

  .navblock {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon {
    color: transparent;
  }

  .contactmail {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .contacttext {
    max-width: none;
  }

  .footerlinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .link-block.last {
    margin-right: 0px;
  }

  .footertext {
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }

  .footerdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footerlogo {
    margin-right: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
  }

  .footer-block {
    margin-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .headline-1 {
    font-size: 34px;
  }

  .content-block {
    max-width: 100%;
  }

  .headline-2 {
    font-size: 24px;
    line-height: 150%;
  }

  .hero-headline {
    font-size: 34px;
  }

  .home-header-2 {
    font-size: 24px;
    line-height: 150%;
  }

  .header-1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .section.imprint {
    margin-top: 160px;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .navmenu {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    max-width: none;
    padding-top: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #d4edfc;
  }

  .navlink {
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    background-color: transparent;
    text-align: right;
  }

  .partnerblock {
    display: none;
  }

  .navwrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    margin-right: 0px;
    padding: 12px;
  }

  .menu-button.w--open {
    z-index: 10;
    margin-right: 0px;
    padding: 12px;
  }

  .linkblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }

  .block-grid {
    margin-top: 0px;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .mail-address {
    font-size: 20px;
  }

  .contacttext {
    font-size: 14px;
  }

  .content-block {
    margin-top: 0px;
  }

  .content {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .navmenu {
    width: 250px;
    max-width: none;
  }

  .block-grid.contactus {
    -ms-grid-columns: 0.5fr;
    grid-template-columns: 0.5fr;
  }

  .headline-fragen {
    margin-bottom: 24px;
  }

  .mail-address {
    font-size: 20px;
  }

  .contacttext {
    width: auto;
    max-width: none;
  }

  .content-block {
    max-width: none;
  }
}

#w-node-ac3e7182-ddb0-f9f9-aced-8adfbc560f03-15c6bb85 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_2648c424-f233-e578-f924-6c7b25c798a7-25c79895 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ba72fc12-bb44-486a-53f8-9d547ccc6175-7ccc6172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-ba72fc12-bb44-486a-53f8-9d547ccc6177-7ccc6172 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-4f5a3f80 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-4f5a3f80 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-4f5a3f80 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-4f5a3f80 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-2749e6c6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-2749e6c6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-2749e6c6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-2749e6c6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-db7ded22 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-db7ded22 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-db7ded22 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-db7ded22 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-804cb91f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-804cb91f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-804cb91f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-804cb91f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

