.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

.body {
  font-family: 'DM Sans', sans-serif;
}

.section {
  height: auto;
}

.section.footer {
  padding-bottom: 0px;
  background-color: #eff9ff;
  color: #000;
  font-weight: 500;
}

.section.contact {
  background-color: #000;
  color: #fff;
}

.section.imprint {
  margin-top: 200px;
  margin-bottom: 0px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.container {
  display: flex;
  height: auto;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.branding {
  margin-right: 24px;
}

.branding-image {
  width: 220px;
  max-width: none;
}

.navmenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.partnerblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.partnerlogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.partnerlogo.hide {
  display: none;
}

.separator {
  display: block;
  width: 2px;
  height: 16px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #000;
  color: #000;
}

.separator.hide {
  display: none;
}

.logo-image-ds {
  width: 100px;
  max-width: none;
  margin-top: -4px;
}

.partnertext {
  margin-right: 12px;
  font-size: 12px;
  font-weight: 500;
}

.logo-image-byte {
  width: 40px;
  max-width: none;
}

.navblock {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navwrapper {
  display: flex;
  max-width: 1420px;
  min-height: auto;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.linkblock {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.block-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.block-grid.contactus {
  margin-top: 90px;
  margin-bottom: 100px;
}

.headline-fragen {
  max-width: 70%;
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 130%;
  font-weight: 500;
}

.contactmail {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.mail-icon {
  margin-right: 12px;
  padding-right: 0px;
}

.mail-address {
  font-size: 22px;
  font-weight: 500;
}

.contacttext {
  max-width: 80%;
  font-size: 18px;
  line-height: 150%;
}

.contactheadline {
  font-size: 18px;
}

.footerlinks {
  display: flex;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  flex-direction: row;
  align-items: flex-end;
}

.link-block {
  margin-right: 40px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.footertext {
  display: block;
  width: auto;
  margin-right: 0px;
  margin-bottom: 4px;
  flex: 0 auto;
  color: #000;
}

.footerdiv {
  display: flex;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 42px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footerlogo {
  display: block;
  margin-right: 50px;
  padding-bottom: 0px;
}

.footer-block {
  display: flex;
}

.headline-1 {
  display: block;
  margin: 0px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-block {
  max-width: 80%;
  margin-top: 64px;
  margin-bottom: 100px;
}

.headline-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}

.paragraph {
  margin-bottom: 0px;
  line-height: 150%;
}

.paragraph.pagenotfound {
  margin-bottom: 12px;
  font-size: 16px;
}

.paragraph.anfang {
  margin-bottom: 72px;
}

.textlinks {
  color: #1479ff;
}

.content {
  max-width: 86%;
  min-width: auto;
  margin-bottom: 72px;
}

.content.datenschutzhinweis-bewerber {
  display: none;
}

.content.datenschutzhinweis-veranstaltungen {
  display: none;
}

.subcontent {
  margin-bottom: 20px;
}

.headline-3 {
  margin-top: 40px;
  font-size: 22px;
}

.list {
  margin-top: 10px;
  margin-bottom: 16px;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 0px;
  background-color: #000;
}

.hero-button {
  padding: 12px 24px;
  border-radius: 60px;
  background-color: #1479ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.hero-button.what {
  margin-left: 64%;
}

.hero-button.what.hide {
  display: none;
}

.hero-button.how.hide {
  display: none;
}

.div {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 164px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-paragraph {
  max-width: 60%;
  margin: 58px auto 0px;
  font-size: 16px;
  line-height: 150%;
}

.home-paragraph.follow {
  margin-top: 0px;
}

.header-1 {
  display: block;
  margin: 0px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-1.pagenotfound {
  margin-bottom: 24px;
}

.illustration {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.illustration-picture {
  width: 110%;
  max-width: none;
}

.section-about {
  height: 100%;
  margin-bottom: 365px;
}

.mission {
  font-size: 20px;
  text-align: left;
}

.quote {
  max-width: 60%;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}

.typeformslidercomponent {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
}

.section-hero {
  position: static;
}

.div-hero {
  position: relative;
  display: flex;
  width: 75%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.h1-hero {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #000;
  font-size: 36px;
  line-height: 120%;
}

.p-hero {
  display: block;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 150%;
}

.link {
  display: flex;
}

.link-text {
  color: #1479ff;
  font-size: 16px;
  font-weight: 700;
}

.cta {
  display: flex;
  margin-top: 48px;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cta.partners {
  flex-direction: column;
}

.div-hero-image {
  position: absolute;
  left: 38%;
  top: 32%;
  right: auto;
  bottom: 0%;
  width: 76vw;
}

.grid-hero {
  width: 100%;
  grid-column-gap: 0px;
  -ms-grid-columns: 2.25fr 1fr;
  grid-template-columns: 2.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-what {
  display: block;
}

.div-what {
  width: 54%;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-left: 0%;
}

.home-wrapper {
  position: relative;
  width: 100%;
  padding-right: 7%;
  padding-left: 7%;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 120%;
}

.h2.center {
  margin-bottom: 50px;
  text-align: center;
}

.h2.center.hide {
  display: none;
}

.h2.center.contact {
  margin-top: 116px;
}

.h2.center.partner {
  margin-top: 80px;
}

.grid-what {
  margin-top: 130px;
  margin-bottom: 120px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-how {
  position: relative;
}

.grid-how {
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.features-block {
  display: flex;
  margin-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
}

.features-image {
  width: auto;
  height: auto;
  max-width: none;
  margin-right: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-list {
  display: flex;
  max-width: none;
  margin-bottom: -16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.how-right {
  display: flex;
  padding-top: 40px;
  justify-content: flex-end;
}

.div-how {
  display: flex;
  margin-bottom: 190px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.div-how.hide {
  display: none;
}

.between {
  font-size: 20px;
  font-weight: 500;
}

.how-block {
  display: flex;
  width: 340px;
  height: 340px;
  padding-top: 20px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 30px;
}

.how-image {
  max-width: 90%;
}

.how-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #eff9ff;
  transform: rotate(8deg) skew(8deg, 0deg);
}

.section-partners {
  margin-top: 150px;
  margin-bottom: 100px;
}

.grid-partners {
  display: flex;
  margin-bottom: 76px;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.how-text {
  font-size: 18px;
  line-height: 150%;
}

.how-text.mail {
  color: #1479ff;
  font-weight: 500;
}

.how-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 78vh;
  max-height: 100%;
  max-width: 100%;
  padding-top: 79px;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.utility-page-image {
  width: 500px;
}

.image {
  width: 100%;
  height: 100%;
  max-width: none;
}

.div-partners {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
}

.partner-ds {
  width: 240px;
}

.p-partners {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.partner-byte {
  width: 120px;
}

.h3 {
  font-size: 22px;
}

.h3.center {
  width: 56%;
  margin-top: 0px;
  text-align: center;
}

.h3.center.hide {
  display: none;
}

.div-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-partner-logo {
  display: flex;
  margin-top: 24px;
  margin-bottom: 70px;
  margin-left: 0px;
  flex-direction: row;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.div-partner-logo.hide {
  display: none;
}

.logo-stmd {
  width: auto;
  height: 50px;
}

.logo-stfh {
  width: auto;
  height: 50px;
}

.typeform.seitlich {
  margin-left: 64%;
}

.section-contact {
  position: relative;
}

.headline-4 {
  margin-top: 16px;
  font-size: 14px;
  line-height: 150%;
}

.darken {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(62, 68, 94, 0.55);
}

.notebox {
  position: absolute;
  left: 0%;
  top: 160px;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  display: block;
  width: 68vw;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #1479ff;
  text-align: left;
}

.box-headline-2 {
  margin-top: 0px;
  color: #fff;
  line-height: 120%;
}

.box-text {
  font-size: 18px;
  font-weight: 400;
}

.banner {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 121, 255, 0.88);
  text-align: center;
}

.banner-text {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.banner-link {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

.banner-icon {
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .body {
    -o-object-fit: fill;
       object-fit: fill;
  }

  .container {
    max-width: 1440px;
  }

  .section-hero {
    overflow: visible;
  }

  .div-hero {
    padding-left: 0%;
  }

  .h1-hero {
    font-size: 40px;
  }

  .p-hero {
    font-size: 20px;
  }

  .div-hero-image {
    left: 42%;
  }

  .div-what {
    width: 54%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0%;
  }

  .home-wrapper {
    padding-right: 7%;
    padding-left: 7%;
  }

  .h2 {
    font-size: 32px;
  }

  .h2.center {
    max-width: 64%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    text-align: center;
  }

  .grid-what {
    margin-bottom: 160px;
  }

  .section-how {
    position: relative;
  }

  .grid-how {
    display: -ms-grid;
    display: grid;
    margin-top: 170px;
    margin-bottom: 100px;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .features-block {
    width: auto;
    margin-bottom: 24px;
    margin-left: -32px;
    align-items: flex-start;
  }

  .features-image {
    width: auto;
    height: auto;
    max-width: none;
    margin-top: 2px;
  }

  .feature-list {
    max-width: none;
    margin-top: 42px;
    margin-bottom: 0px;
  }

  .how-left {
    padding-right: 0px;
  }

  .how-right {
    display: flex;
    padding-top: 40px;
    justify-content: flex-end;
  }

  .div-how {
    display: flex;
    margin-bottom: 190px;
    flex-direction: row;
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .between {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .how-block {
    display: flex;
    padding: 30px 30px 50px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 30px;
  }

  .how-image {
    width: auto;
    max-width: 90%;
    margin-bottom: 20px;
  }

  .how-bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #eff9ff;
    transform: rotate(8deg) skew(8deg, 0deg);
  }

  .section-contact {
    position: relative;
  }

  .banner {
    height: 100%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .navmenu {
    justify-content: flex-end;
  }

  .navlink {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    font-size: 14px;
  }

  .navlink.w--current {
    background-color: transparent;
  }

  .partnerblock {
    display: none;
  }

  .navblock {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon {
    color: transparent;
  }

  .contactmail {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .contacttext {
    max-width: none;
  }

  .footerlinks {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .link-block.last {
    margin-right: 0px;
  }

  .footertext {
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: center;
    -ms-grid-row-align: auto;
        align-self: auto;
    order: 0;
    flex: 0 0 auto;
    text-align: center;
  }

  .footerdiv {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footerlogo {
    margin-right: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
  }

  .footer-block {
    margin-bottom: 32px;
    flex-direction: column;
    align-items: center;
  }

  .headline-1 {
    font-size: 34px;
  }

  .content-block {
    max-width: 100%;
  }

  .headline-2 {
    font-size: 24px;
    line-height: 150%;
  }

  .header-1 {
    font-size: 34px;
  }

  .h1-hero {
    font-size: 34px;
  }

  .feature-list {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section.imprint {
    margin-top: 160px;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .navmenu {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: auto;
    display: flex;
    width: 250px;
    max-width: none;
    padding-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #d4edfc;
  }

  .navlink {
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    background-color: transparent;
    text-align: right;
  }

  .partnerblock {
    display: none;
  }

  .navwrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    margin-right: 0px;
    padding: 12px;
  }

  .menu-button.w--open {
    z-index: 10;
    margin-right: 0px;
    padding: 12px;
  }

  .linkblock {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .block-grid {
    margin-top: 0px;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .mail-address {
    font-size: 20px;
  }

  .contacttext {
    font-size: 14px;
  }

  .content-block {
    margin-top: 0px;
  }

  .content {
    max-width: none;
  }

  .banner-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .branding-image {
    width: 180px;
  }

  .navmenu {
    width: 250px;
    max-width: none;
  }

  .block-grid.contactus {
    -ms-grid-columns: 0.5fr;
    grid-template-columns: 0.5fr;
  }

  .headline-fragen {
    margin-bottom: 24px;
  }

  .mail-address {
    font-size: 20px;
  }

  .contacttext {
    width: auto;
    max-width: none;
  }

  .content-block {
    max-width: none;
  }

  .features-block {
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .feature-list {
    margin-bottom: -30px;
  }

  .banner {
    height: 100vh;
    padding-top: 70px;
    justify-content: flex-start;
  }

  .banner-text {
    margin-bottom: 30px;
  }
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-4f5a3f80 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-4f5a3f80 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-4f5a3f80 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-4f5a3f80 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2648c424-f233-e578-f924-6c7b25c798a7-25c79895 {
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-ba72fc12-bb44-486a-53f8-9d547ccc6175-7ccc6172 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-ba72fc12-bb44-486a-53f8-9d547ccc6177-7ccc6172 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: auto;
      align-self: auto;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-2749e6c6 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-2749e6c6 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-2749e6c6 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-2749e6c6 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-db7ded22 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-db7ded22 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-db7ded22 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-db7ded22 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5df72c72-fb88-5c33-c721-3476a0376460-804cb91f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_4676358f-476d-a9fa-8f28-2a6ca5d6c6a3-804cb91f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-_590881c0-93ea-f98b-43e2-d350f89e4cc1-804cb91f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fac02f0c-eaa6-51bc-289c-8fa3b7f6411f-804cb91f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2bfa9084-062e-8428-4427-eeac1b64070e-c5e41bc6 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-e2cbe2a3-bc51-9fc7-2fa1-9f692e5ef43e-c5e41bc6 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-_2bfa9084-062e-8428-4427-eeac1b64070e-c5e41bc6 {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: center;
        align-self: center;
  }

  #w-node-_6da932a3-cd48-63ad-ebae-676cac4e7315-c5e41bc6 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

